.main{
    position: relative;
    max-width: 100%;
    height: 100vh;
}

.div{
    width: 80px;
    height: 80px;
    border: 2px solid black;
    
  
   
}
.topleft{
   position: absolute;
    top: 0%;
    left: 0%;
    padding: 10px;
   
     
    
     transition-property: left,margin-left,top,margin-top;
    
   
     transition: left 2s linear, top 3s linear 2s,margin-left 2s linear 5s,margin-top 3s linear 7s; 
    
}
.mid{
    position: absolute;
    top:45%;
    left:45%;
    padding: 10px;
    
    
}
body:has(.mid:hover) .topleft {
    
    margin-top: 660px;
   margin-left: 1440px;
    
    top:-660px;

     left:-1400px;
     transition: margin-top 2s linear, margin-left 3s linear 2s,top 2s linear 5s,left 3s linear 7s; 
     
  }

/* body:has(.mid:hover) .topleft {
    
    transform: translateX(1440px);
    transition: transform 5s linear;
    
  } */
